.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.red-bg {
  background-color: rgba(255, 116, 142, 0.68);
}

.box {
  padding: 20px;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.inline-flex div {
  margin-right: 50px;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}
